body {
    background-image: linear-gradient(to left, #190B23 , #121845);
}

/* Page one */

.start-page {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(4, 1fr);
}

header {
   grid-column: 11/12;
}

h1 {
    color: rgba(255, 255, 255, 1);
    letter-spacing: 3px;
    font-family: 'Secular One';
    font-size: 2.5em; 
    font-weight: 200;
    margin-bottom: 0%;
}

h2 {
    font-family: 'Lora';
    letter-spacing: 5px;
    color: rgba(255, 208, 41, 1);
    justify-self: flex-end;
    font-size: 1em; 
    font-weight: 200; 
    margin-top: 0%;
}

.planets {
    margin-left: 10rem;
    margin-right: 5rem;
    grid-column: 1/13;
    grid-row: 2/5;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sun {
    background-color: rgba(255, 208, 41, 1);
    border-radius: 999rem;
    width: 45rem;
    height: 45rem;
    grid-column: 1/2;
    grid-row: 2/3;
    left: -38rem;
    position: absolute;
    line-height: 63px;
    transition: .5s;
}

.sun::before {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: #FFD029;
    transition: .5s;
    transform: scale(.9);
    z-index: -1;
}
  
.sun:hover::before {
    transform: scale(1.1);
    box-shadow: 0 0 15px #FFD029;
}
  
.sun:hover {
    color: #FFD029;
    box-shadow: 0 0 5px #FFD029;
    text-shadow: 0 0 5px #FFD029;
}

.mercury {
    background-color: rgba(136, 136, 136, 1);
    border-radius: 999rem;
    width: 1rem;
    height: 1rem;
    grid-column: 2/3;
    gap: 1em;
    position: relative;
    line-height: 63px;
    transition: .5s;
}

.mercury::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: #888888;
    transition: .5s;
    transform: scale(.9);
    z-index: -1;
}
  
.mercury:hover::before {
    transform: scale(3.1);
    box-shadow: 0 0 15px #888888;
}
  
.mercury:hover {
    color: #888888;
    box-shadow: 0 0 5px #888888;
    text-shadow: 0 0 5px #888888;
}

 .venus {
    background-color: rgba(231, 205, 205, 1);
    border-radius: 999rem;
    width: 2rem;
    height: 2rem;
    grid-column: 3/4;
    gap: 1em;
    position: relative;
    line-height: 63px;
    transition: .5s;
}
.venus::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: #E7CDCD;
    transition: .5s;
    transform: scale(.9);
    z-index: -1;
}
  
.venus:hover::before {
    transform: scale(2.1);
    box-shadow: 0 0 15px #E7CDCD;
}
  
.venus:hover {
    color: #E7CDCD;
    box-shadow: 0 0 5px #E7CDCD;
    text-shadow: 0 0 5px #E7CDCD;
}

.earth {
    background-color: rgba(66, 142, 212, 1);
    border-radius: 999rem;
    width: 2rem;
    height: 2rem;
    grid-column: 4/5;
    gap: 1em;
    position: relative;
    line-height: 63px;
    transition: .5s;
}
.earth::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: #428ED4;
    transition: .5s;
    transform: scale(.9);
    z-index: -1;
}
  
.earth:hover::before {
    transform: scale(2.1);
    box-shadow: 0 0 15px #428ED4;
}
  
.earth:hover {
    color: #428ED4;
    box-shadow: 0 0 5px #428ED4;
    text-shadow: 0 0 5px #428ED4;
}

.mars {
    background-color: rgba(239, 95, 95, 1);
    border-radius: 999rem;
    width: 1rem;
    height: 1rem;
    grid-column: 5/6;
    gap: 1em;
    position: relative;
    line-height: 63px;
    transition: .5s;
}

.mars::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: #EF5F5F;
    transition: .5s;
    transform: scale(.9);
    z-index: -1;
}
  
.mars:hover::before {
    transform: scale(3.1);
    box-shadow: 0 0 15px #EF5F5F;
}
  
.mars:hover {
    color: #C9D4F1;
    box-shadow: 0 0 5px #EF5F5F;
    text-shadow: 0 0 5px #EF5F5F;
}

.jupiter {
    background-color: rgba(226, 148, 104, 1);
    border-radius: 999rem;
    width: 10rem;
    height: 10rem;
    grid-column: 6/7;
    gap: 1em;
    position: relative;
    line-height: 63px;
    transition: .5s;
}

.jupiter::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: #E29468;
    transition: .5s;
    transform: scale(.9);
    z-index: -1;
}
  
.jupiter:hover::before {
    transform: scale(2.0);
    box-shadow: 0 0 15px #E29468;
}
  
.jupiter:hover {
    color: #E29468;
    box-shadow: 0 0 5px #E29468;
    text-shadow: 0 0 5px #E29468;
}

.line {
    width: 10rem;
    height: .9rem;
    top: 50%;
    left: -50%;
    transform: translateY(-50%)rotate(-30deg);
    position: absolute;
    justify-self: center;
    align-self: center;
    grid-column: 7/8;
    line-height: 63px;
    transition: .5s;
}

.line::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: #C7AA72;
    transition: .5s;
    transform: scale(.9);
    z-index: -1;
}
  
.line:hover::before {
    transform: scale(2.0);
    box-shadow: 0 0 15px #C7AA72;
}
  
.line:hover {
    color: #C9D4F1;
    box-shadow: 0 0 5px #C7AA72;
    text-shadow: 0 0 5px #C7AA72;
}

.saturn {
    background-color: rgba(199, 170, 114, 1);
    border-radius: 999rem;
    width: 5rem;
    height: 5rem;
    grid-column: 7/8;
    gap: 1em;
    position: relative;
    line-height: 63px;
    transition: .5s;
}

.saturn::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: #C7AA72;
    transition: .5s;
    transform: scale(.9);
    z-index: -1;
}
  
.saturn:hover::before {
    transform: scale(2.0);
    box-shadow: 0 0 15px #C7AA72;
}
  
.saturn:hover {
    color: #C9D4F1;
    box-shadow: 0 0 5px #C7AA72;
    text-shadow: 0 0 5px #C7AA72;
}

.uranus {
    background-color: rgba(201, 212, 241, 1);
    border-radius: 999rem;
    width: 3rem;
    height: 3rem;
    grid-column: 8/9;
    gap: 1em;
    position: relative; 
    line-height: 63px;
    transition: .5s;
}

.uranus::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: #C9D4F1;
    transition: .5s;
    transform: scale(.9);
    z-index: -1;
}
  
.uranus:hover::before {
    transform: scale(2.1);
    box-shadow: 0 0 15px #C9D4F1;
}
  
.uranus:hover {
    color: #C9D4F1;
    box-shadow: 0 0 5px #C9D4F1;
    text-shadow: 0 0 5px #C9D4F1;
}

.neptune {
    position: relative; 
    transition: .5s;
    background-color: rgba(122, 212, 241, 1);
    border-radius: 999rem;
    width: 3rem;
    height: 3rem;
    grid-column: 9/10;
    gap: 1em;
} 

.neptune::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: #7AD4F1;
    transition: .5s;
    transform: scale(.9);
    z-index: -1;
}
  
.neptune:hover::before {
    transform: scale(2.1);
    box-shadow: 0 0 15px #7AD4F1;
}
  
.neptune:hover {
    color: #7AD4F1;
    box-shadow: 0 0 5px #7AD4F1;
    text-shadow: 0 0 5px #7AD4F1;
}

/* Page two */

.info-page {
    position: relative; 
    z-index: 1; 
    display: flex;
    flex-direction: column;
    display: block;
    max-width: 100rem;
}

.background {
    position: absolute; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    display: none;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.earth1 {
    background-color: rgba(66, 142, 212, 1);
    border-radius: 999rem;
    width: 40rem;
    height: 40rem;
    grid-column: 1/2;
    grid-row: 2/3;
    left: -35rem;
    position: absolute;
    display: block;
    transition: .5s;
}

.earth1::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: #4267c4;
    transition: .5s;
    transform: scale(.9);
    z-index: -1;
}
  
.earth1:hover::before {
    transform: scale(1.1);
    box-shadow: 0 0 15px #4267c4;;
}
  
.earth1:hover {
    color: #4267c4;;
    box-shadow: 0 0 5px #4267c4;;
    text-shadow: 0 0 5px #4267c4;;
}

.earth2 {
    background-color: rgba(79, 96, 159, 0.185);
    border-radius: 999rem;
    width: 40rem;
    height: 40rem;
    grid-column: 1/2;
    grid-row: 2/3;
    left: -33rem;
    position: absolute;
    transition: .5s;
}

.earth2::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: #4267c4;;
    transition: .5s;
    transform: scale(.9);
    z-index: -1;
}
  
.earth2:hover::before {
    transform: scale(1.1);
    box-shadow: 0 0 15px #4267c4;;
}
  
.earth2:hover {
    color: #4267c4;;
    box-shadow: 0 0 5px #4267c4;;
    text-shadow: 0 0 5px #4267c4;;
}

.earth3 {
    background-color: rgba(44, 101, 167, 0.185);
    border-radius: 999rem;
    width: 40rem;
    height: 40rem;
    grid-column: 1/2;
    grid-row: 2/3;
    left: -31rem;
    position: absolute;
    transition: .5s;
}

.earth3::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: #4267c4;;
    transition: .5s;
    transform: scale(.9);
    z-index: -1;
}
  
.earth3:hover::before {
    transform: scale(1.1);
    box-shadow: 0 0 15px #4267c4;;
}
  
.earth3:hover {
    color: #4267c4;;
    box-shadow: 0 0 5px #4267c4;;
    text-shadow: 0 0 5px #4267c4;;
}

.info-box {
    display: flex;
    margin-right: 20rem;
    margin-left: 20rem;
    margin-top: 1rem;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

h1 {
    color: rgba(255, 255, 255, 1);
    letter-spacing: 10px;
    font-family: 'Secular One', sans-serif;
    font-size: 3em; 
    font-weight: 400; 
}

h2 {
    justify-self: flex-start;
    font-family: 'Lora';
    letter-spacing: 15px;
    color: rgba(255, 208, 41, 1);
    font-size: 1.5em; 
    font-weight: 200; 
    margin-top: 0%;
}

article {
    color: rgba(255, 255, 255, 0.678);
    font-family: "Roboto Condensed";
    font-weight: 300;
}

hr {
    border: none; 
    height: 1px; 
    background-color: rgba(247, 247, 247, 0.5);
    width: 100%; 
    margin: 1rem 0;
}

h3 {
    color: rgba(255, 255, 255, 0.884);
    font-family: 'Secular One';
    font-weight: 300; 
    font-size: 0.8em; 
}

.placing-div {
    flex-direction: column;
}

.planets-info {
    display: flex;
    padding-left: 5rem;
    padding-right: 5rem;
    flex-direction: row;
    justify-content: space-between;
    margin: 1em;
    max-width: 80rem;
}

h4 {
    color: rgba(255, 255, 255, 0.801);
    font-family: 'Secular One';
    font-weight: 300; 
    font-size: 0.8em; 
}

p {
    color: rgba(255, 255, 255, 0.425);
}

.moon-div {
    justify-content: space-between;
    margin-left: 5rem;
}
